<!-- Explore Section -->
<section class="explore">

    <div class="container">
        <!-- section header -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Explore Ideas</h2>
                <h3 class="section-subheading text-muted">Explore these brilliant ideas from brilliant minds.</h3>
            </div>
        </div>

        <div class="row explore__filtertabs">
            <div class="col-lg-12 text-center">
                <div class="btn-group" role="group" aria-label="filter">
                    <button type="button" ng-click="showRecent()" ng-class="{'active': display.recent}" class="btn btn-default">Most Recent</button>
                    <button type="button" ng-click="showPopular()" ng-class="{'active': display.popular}" class="btn btn-default">Popular</button>
                </div>
            </div>
        </div>

        <!-- new ideas -->
        <div class="row text-center ideabox" ng-repeat="ideas in idea_list">
            <div class="col-sm-4 text-center ideabox__side" ng-show="display.recent">
                <h2>NEW<br>
                IDEA</h2>
            </div>
            <div class="col-sm-4 text-center ideabox__side" ng-show="display.popular">
                <h2>
                    <span class="ideabox__votes">{{ideas.votes}}</span>
                    <span class="ideabox__label">VOTES</span>
                </h2>
            </div>
            <div class="col-sm-6 text-left">
                <a href="#dashboard/{{ideas.id}}"><h4 class="ideabox__heading">{{ideas.name}}</h4></a>
                <p class="ideabox__summary text-muted">{{ideas.elevator_pitch}}</p>
                <p class="ideabox__contrib">{{ideas.contributions}} Contributions</p>
                <p class="ideabox__author"><img src="{{ideas.avatar_url}}" class="circle-avatar"/> Created by {{ideas.user_name}}</p>
            </div>
        </div>

        <!--
        <div class="row explore__filtertabs">
            <div class="col-lg-12 text-center">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default active">1</button>
                    <button type="button" class="btn btn-default">2</button>
                    <button type="button" class="btn btn-default">3</button>
                </div>
            </div>
        </div>
        -->

    </div>
</section>