<!-- Home View--><!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Too Many Ideas Die</span></div>
            <div class="intro-heading blue"><span>Ideas don't have to die</span></div>
            <a href="#newIdeas" class="page-scroll btn btn-xl header-cta">Show Me Rescued Ideas</a>
        </div>
    </div>
</header>

<!-- content: "This is a better system than trying to organize yourself in Excel or Word."
created_at: 1456044669000
id: 5
idea_id: 1
idea_part_type_id: 3
justification: "People need a structured way to visualize their ideas, so they can actually execute."
user_id: 1
 -->

Recent
<table class="table">
    <tr ng-repeat="ideas in recentIdea_list">
            <td>{{ideas.id}}</td>
            <td>{{ideas.user_id}}</td>
            <td>
                <div class="row" ng-repeat = "idea_part in ideas.idea_parts">
                    <p>{{idea_part.id}}</p>
                    <p>{{idea_part.idea_id}}</p>
                    <p>{{idea_part.idea_part_type_id}}</p>
                    <p>{{idea_part.justification}}</p>
                    <p>{{idea_part.user_id}}</p>
                </div>
            </td>
    </tr>
</table>


Get ideas
<table class="table">
    <tr ng-repeat="defintion in definition_list">
            <td>{{defintion.name}}</td>
            <td>{{defintion.allow_multiple}}</td>
            <td>{{defintion.metadata.name_text}}</td>
            <td>{{defintion.metadata.name_tool_tip}}</td>
            <td>{{defintion.metadata.justification_text}}</td>
    </tr>
</table>




<!-- New Ideas Section -->
<section id="newIdeas">
    <div class="container">
    	<!-- section header -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">New Ideas</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>

        <!-- new ideas -->
        <div class="row text-center ideabox">
            <div class="col-sm-4 text-center ideabox__side">
                <h2>NEW<br>
                IDEA</h2>
            </div>
            <div class="col-sm-6 text-left">
                <h4 class="ideabox__heading">E-Commerce</h4>
                <p class="ideabox__summary text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing el Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                <p class="ideabox__contrib">3 Contributions</p>
                <p class="ideabox__author">Created by Someone</p>
            </div>
        </div>

        <div class="row text-center ideabox">
            <div class="col-sm-4 text-center ideabox__side">
                <h2>NEW<br>
                IDEA</h2>
            </div>
            <div class="col-sm-6 text-left">
                <h4 class="ideabox__heading">E-Commerce</h4>
                <p class="ideabox__summary text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing el Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                <p class="ideabox__contrib">3 Contributions</p>
                <p class="ideabox__author">Created by Someone</p>
            </div>
        </div>

    </div>
</section>

<!-- New Ideas Section -->
<section id="popularIdeas">
    <div class="container">
    	<!-- section header -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Popular Ideas</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>

        <!-- popular ideas -->
        <div class="row text-center ideabox">
            <div class="col-sm-4 text-center ideabox__side">
                <h2>
                	<span class="ideabox__votes">566</span>
                	<span class="ideabox__label">VOTES</span>
                </h2>
            </div>
            <div class="col-sm-6 text-left">
                <h4 class="ideabox__heading">E-Commerce</h4>
                <p class="ideabox__summary text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing el Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                <p class="ideabox__contrib">3 Contributions</p>
                <p class="ideabox__author">Created by Someone</p>
            </div>
        </div>

        <div class="row text-center ideabox">
            <div class="col-sm-4 text-center ideabox__side">
                <h2>
                	<span class="ideabox__votes">966</span>
                	<span class="ideabox__label">VOTES</span>
                </h2>
            </div>
            <div class="col-sm-6 text-left">
                <h4 class="ideabox__heading">E-Commerce</h4>
                <p class="ideabox__summary text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing el Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                <p class="ideabox__contrib">3 Contributions</p>
                <p class="ideabox__author">Created by Someone</p>
            </div>
        </div>

    </div>
</section>
