<!-- Home View--><!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Too Many Ideas Die</span></div>
            <div class="intro-heading blue"><span>Ideas don't have to die</span></div>
            <span ng-click="showNewIdeas()" class="page-scroll btn btn-xl header-cta">Show Me Rescued Ideas</span>
        </div>
    </div>
</header>

<!-- New Ideas Section -->
<section id="newIdeas">
    <div class="container">
    	<!-- section header -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">New Ideas</h2>
            </div>
        </div>

        <!-- Recent
            <td>{{ideas.id}}</td>
            <td>{{ideas.user_id}}</td>
            <td>{{ideas.name}}</td>
            <td>{{ideas.elevator_pitch}}</td>
            <td>{{ideas.votes}}</td>
            <td>{{ideas.contributions}}</td>
            <td>{{ideas.user_name}}</td>
         -->
        <!-- new ideas -->
        <div class="row text-center ideabox" ng-repeat="ideas in recentIdea_list">
            <div class="col-sm-3 text-center ideabox__side">
                <h2>NEW<br>
                <span class="light">IDEA<span></h2>
            </div>
            <div class="col-sm-9 text-left">
                <h4 class="ideabox__heading">{{ideas.name}}</h4>
                <p class="ideabox__summary text-muted">{{ideas.elevator_pitch}}</p>
                <p class="ideabox__contrib">{{ideas.contributions}} Contributions</p>
                <hr>
                <p class="ideabox__author"><img src="{{ideas.avatar_url}}" class="circle-avatar"/> Created by {{ideas.user_name}}</p>
            </div>
        </div>

    </div>
</section>

<!-- New Ideas Section -->
<section id="popularIdeas">
    <div class="container">
    	<!-- section header -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Popular Ideas</h2>
            </div>
        </div>

        <!-- Popular
            <td>{{ideas.id}}</td>
            <td>{{ideas.user_id}}</td>
            <td>{{ideas.name}}</td>
            <td>{{ideas.elevator_pitch}}</td>
            <td>{{ideas.votes}}</td>
            <td>{{ideas.contributions}}</td>
            <td>{{ideas.user_name}}</td>
         -->

        <!-- popular ideas -->
        <div class="row text-center ideabox" ng-repeat="ideas in popularIdea_list">
            <div class="col-sm-3 text-center ideabox__side">
                <h2>
                	<span class="ideabox__votes">{{ideas.votes}}</span>
                	<span class="ideabox__label">VOTES</span>
                </h2>
            </div>
            <div class="col-sm-9 text-left">
                <h4 class="ideabox__heading">{{ideas.name}}</h4>
                <p class="ideabox__summary text-muted">{{ideas.elevator_pitch}}</p>
                <p class="ideabox__contrib">{{ideas.contributions}} Contributions</p>
                <hr>
                <p class="ideabox__author"><img src="{{ideas.avatar_url}}" class="circle-avatar"/> Created by {{ideas.user_name}}</p>
            </div>
        </div>

    </div>
</section>
