/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here 
  height: 60px;
  background-color: #f5f5f5;
}
*/

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* Forms */

input.form-control, select.form-control, textarea.form-control {
  display: initial;
}

/* Home Banner */

.intro-lead-in span, .intro-heading span {
}

.navbar-default .nav li a.login-cta {
  background: url(../img/github_icon.png) center left no-repeat;
  padding-left: 36px;
}

.blue {
  color: #2baea6;
}

.header-cta {
  background: transparent;
  border: 2px solid white;
  font-weight: normal;
}

.dark {
  background: rgba(0,0,0,0.7);
}


/* Sections */
section {
  padding: 50px 0
}

.project {
  padding-top: 150px;
}

.explore {
  padding-top: 100px;
}

/* Idea Boxes */

.ideabox {
  background: #f7f7f7;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.ideabox__heading {
  margin: 15px 0;
  text-transform: none;
}

.ideabox__side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ideabox__votes, .ideabox__label {
  display: block;
}

/* Login Page */

.login {
  display: flex;
  height: 100vh;
}

.login__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Explore Page */
.explore__filtertabs {
  padding: 30px 0;

}

/* Profile Page */
.profile__head {
  padding: 50px 0;
  background: #f7f7f7;
}

.profile__content {
  padding-top: 40px;
}

.profile__photo img {
  height: 150px;
}

/* Dashboard Page */

.dashboard__content {
  padding: 10px 50px;
}
.dashboard__sidenav {
  background: #1F1F1F;
  margin-top: 10px;
  padding-bottom: 20px;
}
.dashboard__ideapart {
  padding-left: 50px;
}
.discussion__profileImg {
  width: 64px;
  height: 64px;
}
.dashbaord__discussion .media-list {
  padding: 50px;
  padding-bottom: 0px;
}
.dashbaord__discussion .media {
  margin-bottom: 30px;
}

.dashbaord__discussion .media-heading {
  display: inline-block;
}
.dashbaord__discussion .discussion__thumps-up {
  font-size: 1.3em;
  display: inline-block;
}

.circle-avatar{
  width:50px;
  height:50px;
  border-radius: 50%;
}